<head>
	<meta charset="UTF-8" />
	<title>Famous recipes</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css" />
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css" />
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css" />
	<![endif]-->
</head>
<body >
	<div id="header">
		<div>
			<div>
				<div id="logo">
					<a href="index.html"><img src="assets/food.jpg" alt="Logo"/></a>
				</div>
				<div>
					<ul class="right">
  <%if signed_in?%>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "signout", destroy_user_session_path, method: :delete%></li>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
  <%end%>
					<form action="#">
						<input type="text" id="search" maxlength="30" />
						<input type="submit" value="" id="searchbtn" />
					</form>
				</div>
			</div>
			<ul>
				<li class="current"><a href="index.html">Home</a></li>
				<li ><a href="product1.html">Arabian</a></li>
				<li><a href="product2.html">African</a></li>
				<li><a href="product3.html">European</a></li>
				<li><a href="product4.html">Latin</a></li>
				<li><a href="product5.html">Asian</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
			
		</div>
	</div>
	<div id="content">
		<div class="home">
			<div class="aside">
				<h1>Welcome to our site</h1>
				<p>paragraph1.</p> 
				
				<p>paragraph2. <a href="index.html" class="readmore">read more</a></p>
			</div>
			<div class="section">
				<div>
					<h2>The food story</h2>
					<p>paragraaaaph.</p>
				</div>
				<ul>
					<li class="first">
						<a href="index.html"><img src="assets/2.jpg" alt="Image" /></a>
					</li>
					<li>
						<a href="index.html"><img src="assets/burgercake.jpg" alt="Image" /></a>
					</li>
					<li>
						<a href="index.html"><img src="assets/4.jpg" alt="Image" /></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="home">
			<div>
				<div class="aside">
					<div class="signup">
						
					</div>
					<div class="connect">
						<span>Follow Us</span>
						<ul>
							<li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook">Facebook</a></li>
							<li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitter">Twitter</a></li>
							<li><a href="#" class="subscribe">Subscribe</a></li>
							<li><a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" class="flicker">Flicker</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
		
		
	</div>
</body>